
$cartaPropiedades: (
    borde: none,
    fondo: rgb(255, 255, 255),  
);

.color-fondo {
    background: #000 !important;
}

.card {
    border: map-get($cartaPropiedades, borde);
    background-color: map-get($cartaPropiedades, fondo);
}

.card-img-top {
    width: 40%;
    filter: brightness(70%);
    cursor: pointer;
    margin: auto;
    transition: all 1s;
    transition: all 1s;
    &:hover {
        filter: brightness(100%);
        transform: scale(1.1);
    }
}

.col {
    border-style: none;
}

.card-title{
    color: #fff;
    border: none;
}

.card-text {
    @extend .card-title;
}

.col {
    border-style: none;
}

span {
    color: rgb(35, 211, 49);
}
